body {
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    grid-template-rows: auto;
    grid-template-areas:
    ". hd ."
    ". list .";
}

.header {
    grid-area: hd;
    text-align: center;
}

ul {
    list-style-type: none;
}

/*put arrows inside month header*/
.header .prev {
    float: left;
    padding-top: 10px;
}

.header .next {
    float: right;
    padding-top: 10px;
}

.dates {
    grid-area: list;
}

.dates li {
list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}