:root {
    --greyedOut: #8e8e8e;
    --navy: #001219;
    --red: #d62828;
    --orange: #f77f00;
    --yellow: #fcbf49;
    --text: #eae2b7;
    --active: #005f73;
}

body {
    background-color: var(--navy);
    color: var(--text);
}

.header {
    text-align: center;
    margin: 20px 0;
}

.header ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.prev, .next {
    cursor: pointer;
    font-size: 24px;
}

.weekdays {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 5px;
    padding: 0px 0px 10px 0px;
    max-width: 600px;
    margin: 0 auto;
}

.weekdays li {

    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#dates ul {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 0 auto;
}

#dates li {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.otherMonths {
    color: var(--greyedOut);
}

#active {
    background-color: var(--active);
}

.prev, .next {
    user-select: none;
}